section.c-def
  section
    h1 Criando movimentos com SVG
    pre
      code.
        <svg id="element" height="100" width="100" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="50" fill="#213b4c"></circle>
        </svg>

  section
    h2 Utilizando @keyframes
    pre
      code.
        #element {
          position: absolute;
          -webkit-animation: move-vertical 1s infinite alternate linear;
        }
        @-webkit-keyframes move-vertical {
          0%   { bottom: 300px; }
          100% { bottom: 0px;   }
        }
    div.jump
      svg(id="element" height="100" width="100" viewBox="0 0 100 100")
        circle(id="circle" cx="50" cy="50" r="50" fill="#213b4c")
  section
    h2 Propriedades @keyframes
    pre
      code.
        .box {
        animation-name: bounce;
        animation-duration: 4s;
        animation-iteration-count: 10;
        animation-direction: alternate;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 2s;
        }
    table
      tbody
        tr
          td timing-function
          td ease, ease-out, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) (e.g. cubic-bezier(0.5, 0.2, 0.3, 1.0))
        tr
          td duration & delay
          td Xs or Xms
        tr
          td duration-count
          td X
        tr
          td fill-mode
          td forwards, backwards, both, none
        tr
          td animation direction
          td normal, alternate
          
  section
    h2 Utilizando SMIL
    h3 Synchronized Multimedia Integration Language
    pre
      code.
        <svg width="100" height="300">
          <circle id="orange-circle" r="30" cx="50" cy="50" fill="orange" />
          <animate
            xlink:href="#orange-circle"
            attributeName="cy"
            from="50"
            to="450" 
            dur="1s"
            begin="click"
            fill="freeze" />
        </svg>
    div.jump
      svg(height="500" width="100")
        circle(id="orange-circle" cx="50" cy="50" r="50" fill="orange")
        animate(xlink:href="#orange-circle" attributeName="cy" from="50" to="300" dur="1s" begin="click" fill="freeze")
    a(href='') Exemplo retirado do blog de Willian Justen
  section
    h1 Utilizando Canvas
    img(src='img/canvas-explain.png')
  section
    h2 Live Code Canvas